/* Imagem de fundo da página */
body {
    background-image: url('../images/fundo-do-index.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero{
    min-height:100vh;

    display:flex;
    align-items:center;

    background:
    linear-gradient(
        rgba(24,60,52,.85),
        rgba(24,60,52,.80)
    ),
    url("../img/fundo-psicologia.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
