/* Imagem de fundo da página */
body {
    background-image: url('../images/fundo-do-index.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    color:white;

    background:
    linear-gradient(
        rgba(24,60,52,.85),
        rgba(24,60,52,.80)
    ),
    url("../images/fundo-do-index.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.titulo-do-inicio{
    font-size:clamp(3rem, 6vw, 5.5rem);
    font-weight:800;
    line-height:1.1;
    color:#FAFBFA;
    text-shadow:0 5px 20px rgba(0,0,0,.35);
    margin-bottom:25px;
}

.gold{
    color:#C9A869;
}

.gold2{
    color:#fdb123;
    
}

.subtitulo-do-inicio{
    max-width:600px;
    font-size:1.25rem;
    line-height:1.8;
    color:rgba(255,255,255,.9);
    margin-bottom:35px;
}

.info-card{
    background: rgba(24,60,52,.85);


    border: 2px solid #C9A869;

    border-radius: 25px;

    backdrop-filter: blur(12px);

    color: white;

}

.btn-gold{
    background:#C9A869;
    color:white;
    border:none;
    border-radius:40px;
    padding:13px 28px;
    font-weight:600;
}

.btn-gold:hover{
    background:#b8944d;
    color:white;
}